<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login Form</title>
  <link rel='stylesheet' href='/stylesheets/loginSignup.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/javascripts/loginSignup.js"></script>
  
</head>

<body>
  <div class="wrapper fadeInDown">
    <div class="center">
    <h1>
                                            <img src="//static.hrstoppro.com//Images\115x115/cb87a9ed-0adc-415a-9dba-282dec96cd48_athena-white(30x25).png" class="logo">
                                            <span class="red">HR</span> <span class="white">System</span>
                                </h1>
                                <h4 class="blue">
                                        © Athenalogics solution private limited
                                    </h4>
                                </div>
    <div id="formContent">
      <h4 class="header blue lighter bigger">
                            <i class="fa fa-coffee green"></i>Please Enter Your Information
                        </h4>
      <!-- Tabs Titles -->
      <h2 class="active" id="signin"> <a href="#" id="SignIn">Sign In</a> </h2>
      <h2 class="inactive underlineHover" id="signup"><a href="#" id="SignUp">Sign Up </a></h2>

      <!-- Icon -->
      <div class="fadeIn first">

      </div>
      <div id="oldposts"><p>{{error}}</p></div>

      <!-- Login Form -->
      <form action="auth" method="POST" id="signinfrm">
        <input type="email" name="email" placeholder="Email" class="second" required>
        <input type="password" name="password" class="third" placeholder="Password" required>
        <input type="submit">
      </form>

      <form action="signup" method="POST" id="signupfrm">
        <input type="text" name="name" placeholder="Name" class="first" required>
        <input type="email" name="email" placeholder="Email" class="third" required>
        <input type="password" name="password" class="fourth" placeholder="Password" required>
        <input type="submit">
      </form>
      
      
    </div>
  </div>
</body>

</html>