<html>
    <head>
        <title>send emails</title>
    </head>
    <body>
        <form method="POST" action="sendEmail">
            <input type="email" placeholder="email" name="email" required/>
            <input type="text" placeholder="Subject" name="subject" required/>
            <input type="textarea" placeholder="body" name="body" required/>
            <button type="submit" >send email</button>
        </form>
    </body>
</html>